<header id="content-header">
  <h4>Memberships for <%= link_to @project.name, @project %></h4>
</header>

<ol id="registrations">
  <% @memberships.each do |membership| %>
    <li>
      <%= link_to "Delete Membership", project_membership_path(@project, membership), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default btn-sm' %>
      <span class="how-heard">
        (<%= membership.user.name %>)    
      </span>
      <span class="how-heard">
        (<%= membership.user.email %>)    
      </span>
      <span class="how-heard">
        (<%= membership.responsible_role %>)    
      </span>
       <span class="date">
        <%= time_ago_in_words(membership.created_at) %> ago
      </span>
       <span class="how-heard">
        (<%= membership.user.name %>)    
      </span>
    </li>
  <% end %>
</ol>