<%= form_for([@project, @task]) do |f| %>

  <td>
    <%= f.text_area :description %>
  </td>
  <td>
    <%= f.date_select :deadline %>
  </td>
  <td>
    <%= f.date_select :real_deadline %>
  </td>
  <td>
    <%= f.select :complexity, Task.complexities.keys.map {|complexity| [complexity.titleize, complexity]}%>
  </td>
  <td>
    <%= f.select :status, Task.statuses.keys.map {|status| [status.titleize, status]}%>
  </td>
   <td>
    <%= f.label :score %><br>
    <%= f.select :score, Task.scores.keys.map {|score| [score.titleize, score]}%>
  </td>
  <td>
    <%= f.hidden_field :project_id %>
  </td>
  <td class="actions">
    <%= f.submit %>
  </td>
<% end %>