<h4>Listing tasks for <%= link_to(@project.name, @project)%></h4>
<%= link_to 'Create task', new_project_task_path(@project) %>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Deadline</th>
      <th>Complexity</th>
      <th>Score</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= time_tag(task.deadline) %></td>
        <td><%= task.complexity %></td>
        <td><%= task.score %></td>
        <td><%= task.status %></td>
        <td><%= link_to "Edit task", edit_project_task_path(@project, task) %></td>
        <td><%= link_to "Delete task", project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @tasks.each do |task| %>
<div class="panel panel-default">
  <div class="panel-heading">
   
  </div><!--/panel-heading--> 
  <div class="panel-body">
    <table>
     
        <td><%= task.description %></td>
      
     
        <td><%= time_tag(task.deadline) %></td>
     
     <tr>
        <td><%= task.complexity %></td>
     </tr>
       <tr>
        <td><%= task.score %></td>
      </tr>
       <tr>
        <td><%= task.status %></td>
      </tr>
      <tr>
        <td> 
       
        </td>
      </tr>
    </table>
  </div>
</div>
 <% end %>