<!--
<%= link_to 'Create Task', new_project_task_path(@project), :class => 'btn btn-primary' %>
<%= link_to "Back", projects_path, :class => 'btn btn-primary' %> | 
<%= link_to "Edit Project", edit_project_path(@project), :class => 'btn btn-primary' %> 
-->
<%= link_to "Back", projects_path, :class => 'btn btn-default' %> | 
<%= link_to "Details Project", project_path(@project), :class => 'btn btn-default' %> 
<%= link_to 'Create Task', new_project_task_path(@project), :class => 'btn btn-default' %>

<hr>
<h3>Listing tasks for <%= link_to(@project.name, @project)%></h3>
<hr>
<% @tasks.each do |task| %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <table>
      <td width="50">
      <%=flag_task_deadline(task)%>
      </td>
      <td width="200">
      <strong>Deadline:</strong> <%= task.deadline? ? task.deadline.strftime("%d %B, %Y @ %I:%M %p") : 'Not Yet set'  %>
      </td>
      <td width="50">
        <strong>Asignada a: </strong> <%= task.assigned.try(:email) %>
      </td>
      <td width="130" align="right">
      <strong>Complexity: </strong> <%=format_task_complexity(task)%>
      </td>
      <td width="160" align="right">
       <strong>Status: </strong>  <%= format_task_status(task) %>
      </td>
      </table>


    </div><!--/panel-heading--> 
    <div class="panel-body">
      <table>
          <td>
            <%= task.description %>
          </td>
        <tr>
          <td>
            <hr>
            <div class="actions">

<!--              <%= link_to "Edit Task", edit_project_task_path(@project, task), :class => 'btn btn-default btn-sm' %> | 
              <%= link_to "Delete Task", project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default btn-sm' %>
-->
<!--              <%= link_to "Edit Task", edit_project_task_path(@project, task), :class => 'btn btn-primary btn-xs' %>
              <%= link_to project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary btn-xs' do %>Delete Task<% end %>
-->
              <% if task.assigned_to_id == current_user.id || current_user.admin?  %>
                <%= link_to "Edit Task", edit_project_task_path(@project, task) %> | <%= link_to "Delete task", project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'} %>
              <% else %>
                <%= 'Cannot edit' %>
              <% end %>

            </div>            
  
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>