<h4>Listing tasks for <%= link_to(@project.name, @project)%></h4>
<%= link_to 'Create task', new_project_task_path(@project) %>
<hr>
<% @tasks.each do |task| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Deadline:</strong> <%= time_tag(task.deadline) %>
    <%= format_task_status(task) %> <%=format_task_complexity(task)%>
  </div><!--/panel-heading--> 
  <div class="panel-body">
    <table>
        <td><%= task.description %></td>
      <tr>
         <td><%= link_to "Edit task", edit_project_task_path(@project, task) %>|<%= link_to "Delete task", project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    </table>
  </div>
</div>
 <% end %>