
<%= form_for @project do |f| %>

  <%= render "shared/errors", object: @project %>

<div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
  
        <div class="field">
          <%= f.label :name %>
          <div class="controls">
            <%= f.text_field :name, autofocus: true, class: 'form-control', :placeholder => "Project name" %>
          </div>
        </div>  

        <div class="field">
          <%= f.label :alias %>
          <div class="controls">
            <%= f.text_field :alias, class: 'form-control', :placeholder => "Project alias" %>
          </div>
        </div> 
         <div class="field">
          <%= f.label :description %>
          <div class="controls">
            <%= f.text_area :description, class: 'form-control', :placeholder => "Project description" %>
          </div>
        </div> 
        <table>
          <td width="220">
            <div class="field">
              <label>Estimated budget</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <%= f.text_field :price, class: "form-control", size: "5" %>
              </div>
            </div>
          </td>
          <td width="200">
            <center>
              <%= f.label :is_critical %>
              <div class="controls">
                <%= f.check_box :is_critical %>
              </div>
            </center>
          </td>
          <td width="200">
          <center>
            <%= f.label :is_strategic %>      
            <div class="controls">
              <%= f.check_box :is_strategic %>
            </div>
            </center>
          </td>
          <td width="100">
          <center>
            <%= f.label :status%>
            <div class="controls">
              <%= f.select :status, Project.statuses.keys.map {|status| [status.titleize, status]}, prompt: 'Pick one' %>
            </div>
            </center>
          </td>
        </table>
       
        <hr>
        <h4>Strategic goals </h4>
        <hr>
        <%= f.collection_check_boxes(:goal_ids, Goal.all, :id, :name) do |b|
              b.label(:"data-value" => b.value) { b.check_box + truncate(b.text, length: 60, separator: ' ') }
              end %>
      </div>
    </div>

    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-default btn-sm") do %>
        <%  if params[:action] == 'new' %>
          Create Project
        <% else %>
          Update Project
        <% end %>
      <% end %>    
      <%= link_to :back, :class => 'btn btn-default btn-sm' do %>Cancel<% end %>
    </div>
  </div>
<% end %>