<h4>Listing projects</h4>

<%= link_to 'Create Project', new_project_path, :class => 'btn btn-default' %>

<hr>
<% @projects.each do |project| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><b><%= link_to(project.name, project_tasks_path(project)) %> <%= format_status(project) %></b></h4>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%
        </div>
      </div>      
    </div><!--/panel-heading--> 
    <div class="panel-body">
      <table>
        <tr>
          <td width="400">
            Description:
            <%= format_description(project) %>
          </td>
        </tr>
        <tr>
          <td>
            Strategic:
            <%= format_is_strategic(project) %>
          </td>
          <td>
            Estimated budget:
            <%= format_budget(project) %>
          </td>
        </tr>
      </table>
      <hr>
<!--      <%= link_to "Edit", edit_project_path(project), :class => 'btn btn-primary btn-xs' %>  
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-xs' %> 
      <%= link_to 'All memberships', project_memberships_path(project), :class => 'btn btn-primary btn-xs' %> 
      <%= link_to 'Create membership', new_project_membership_path(project), :class => 'btn btn-primary btn-xs' %>
-->
      <%= link_to "Edit", edit_project_path(project) %> | 
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> | 
      <%= link_to 'All memberships', project_memberships_path(project) %> | 
      <%= link_to 'Create membership', new_project_membership_path(project) %>
    </div><!--/panel-body-->
  </div><!--/panel-->

 <% end %>


