<%= link_to 'Create Project', new_project_path %>

<% @projects.each do |project| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= link_to(project.name, project_tasks_path(project)) %> <%= format_status(project) %></h4>
     
    </div><!--/panel-heading--> 
    <div class="panel-body">
       <table>
          <tr>
            <th>Description:</th>
            <td><%= project.description %></td>
          </tr>
          <tr>
            <th>Strategic:</th>
            <td><%= format_is_strategic(project) %></td>
          </tr>
          <tr>
            <th>Estimated budget:</th>
            <td><%= format_budget(project) %></td>
          </tr>
          <tr>
            <th></th>
            <td> 
              <%= link_to "Edit", edit_project_path(project) %> | 
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        </table>
    </div><!--/panel-body-->
  </div><!--/panel-->

 <% end %>


