
<!--
<%= link_to 'Show tasks', project_tasks_path(@project), :class => 'btn btn-primary btn-xs' %>

<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-primary btn-xs'  %>
<%= link_to 'Back', projects_path, :class => 'btn btn-primary btn-xs' %>
<%= link_to 'Create Task', new_project_task_path(@project), :class => 'btn btn-primary btn-xs' %>
-->
<%= link_to 'Back', projects_path, :class => 'btn btn-default btn-sm' %> | 
<%= link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-default btn-sm'  %>
<%= link_to 'Show tasks', project_tasks_path(@project), :class => 'btn btn-default btn-sm' %>
<%= link_to 'Create Task', new_project_task_path(@project), :class => 'btn btn-default btn-sm' %>

<hr>
<strong><h3>Project Details</h3></strong>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Nombre:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Estimated Budget:</strong>
      <%= @project.estimated_budget %>
    </p>

    <p>
      <strong>Is strategic:</strong>
      <%= @project.is_strategic %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @project.status %>
    </p>
  </div>
</div>


