<%= link_to("Create Strategic Goal", new_goal_path, :class => 'btn btn-default btn-sm') %>

<hr>
<h3>Listing Strategic Goals</h3>
<hr>

<% @goals.each do |goal| %>

  <div class="panel panel-info">
    <div class="panel-body">
      <%= goal.name  %>
      <%= link_to 'Show', goal %>
      <%= link_to 'Edit', edit_goal_path(goal) %>
      <%= link_to 'Destroy', goal, confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
<% end %>

<%= link_to 'New Goal', new_goal_path %>
