<div class="col-sm-9">
  <h3><%=t('Dashboard')  %> de <%= current_user.name  %> - Rol: <%= current_user.role  %> </h3>

  <hr>
  <div class="row">
    <div class="col-md-12">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </div>
  </div>
</div>