<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pulpo Yachay" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pulpo Yachay" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"> 
          <h3>Menu</h3>
          <hr>
           <%= render 'layouts/leftsidebar' %>
        </div><!--/col-sm-3 left-->
        <div class="col-sm-9">
          <h3>Dashboard</h3>
          <hr>
          <div class="row">
            <div class="col-md-7">
               <%= render 'layouts/messages' %>
               <%= yield %>
            </div><!--/col-md-7 center-left-->
            <div class="col-md-5">
              <%= render 'layouts/rigthside' %>
            </div><!--/col-md-5 center-rigth-->
          </div><!--/row inside col-sm-9-->
        </div><!--/col-sm-9 rigth-->
      </div><!--/row-->
    </div><!--/container-->
  </body>
</html>
